DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=atlas_db
MYSQL_BUSINESS_DATABASE=atlas_db
MYSQL_USER=atlas_admin_ro
MYSQL_PASSWORD=change_me

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change_me
